*{
    text-decoration: none;
    color: whitesmoke;
}
.navbar{

    display:flex;
    flex-direction: row;
    height: 70px;
    background-color: black;
    font-size: larger;
   list-style-type: none;
   align-items: center;
        display: flex;
}

a{
 margin-right: 50px;
 font-family: Arial, Helvetica, sans-serif;
 color: darkorange;
}

button{
margin-top: 10px;
background-color: darkorange;
height: 40px;
}

input{
    margin-top: 10px;
    color: black;
    height: 30px;
}
#one{
 background-color: red;
 color:aliceblue;
 text-align: left;
}

#two{
    display: flex;
    flex-direction: row;
    padding-right: 500px;
    text-align: center;
}